---
import DefaultLayout from '../Layouts/DefaultLayout.astro';
import Cover from '../Components/Cover.astro';

import aboutData from '../js/data';
---

<DefaultLayout subtitle="About Us">
  <Cover coverText="About Us">
    <img
      class="cover__bg"
      src="/images/desktop/hero/hero-about-us.jpg"
      alt="Fotografia retrato de bb trickz"
    />
  </Cover>
  <section id="about" class="about">
    {
      aboutData.map((data) => (
        <article class="about__article">
          <div class="flex-col about__text">
            <h2 class="font-bold text-xl">{data.title}</h2>
            <p class="about__p">{data.description}</p>
            <a
              href={data.link}
              class="about__link underline text-violet-400"
              target="_blank"
            >
              Get to know more about us...
            </a>
          </div>
          <img src={data.image} alt="Imagen de portada" class="about__image" />
        </article>
      ))
    }
  </section>
</DefaultLayout>

<style lang="scss">
  .about {
    flex-direction: column;
    &__article,
    &__text {
      display: flex;
      flex-wrap: wrap;
    }
    &__text,
    &__image {
      flex-basis: 20em;
      flex-grow: 1;
    }
    &__article {
      border-bottom: 1px solid var(--clr-brd);
    }
    &__text {
      justify-content: space-between;
      padding: 3vh 5vw;
      gap: 5rem;
    }
    &__link {
      color: var(--Grayish-blue);
      &:hover {
        color: var(--White);
        transform: scale(1.1, 1.1);
      }
    }
    &__image {
      width: 100px;
      aspect-ratio: 3/2;
      object-fit: cover;
    }
  }
</style>
