---
// Layout imports
import DefaultLayout from '../Layouts/DefaultLayout.astro';
// Components imports
import Cover from '../Components/Cover.astro';
import EntrySection from '../Components/EntrySection.astro';
import SectionInfo from '../Components/SectionInfo.astro';

import { getCollection, CollectionEntry } from 'astro:content';
import { formatBlogPosts } from '../js/utils';

const allArtist = await getCollection('artists');
const fomrmatArtist: CollectionEntry<'blog'>[] = formatBlogPosts(allArtist, {
  limit: 1,
});

// const cover1 = await Astro.glob('../content/**/artist-bb-trickz.md');
---

<DefaultLayout subtitle="HOME">
  <Cover coverText="MUSIC.GRAM">
    <video autoplay muted playsinline loop class="cover__bg">
      <source src="/video/cover-jul-5-23.mp4" type="video/mp4" />
    </video>
  </Cover>
  <SectionInfo position={true}>
    <img
      class="rounded-lg"
      src={allArtist[1].data.img2.src}
      alt="Person listening to music"
      slot="images"
    />
    <article class="intro__article" slot="text">
      <h2 class="font-extrabold text-3xl mb-[1rem]">
        Fresh Sounds Every Week!
      </h2>
      <p class="w-[25em]">
        Discover the next wave of musical talent with our weekly uploads. We
        pride ourselves on being a platform that champions relative unknown
        artists from diverse backgrounds and musical genres. From soulful
        crooners to experimental beatmakers, we curate an eclectic mix of sounds
        that will keep your playlists fresh and your ears yearning for more.
      </p>
    </article>
  </SectionInfo>
  <SectionInfo position={false}>
    <img
      class="rounded-lg"
      src={allArtist[0].data.img2.src}
      alt="Person listening to music"
      slot="images"
    />
    <article class="intro__article" slot="text">
      <h2 class="font-extrabold text-3xl text-2xl mb-[1rem]">
        Global Vibes, Local Talent
      </h2>
      <p class="w-[25em]">
        Music knows no boundaries, and neither do we. Our dedication to
        showcasing artists from every corner of the globe ensures a rich
        tapestry of cultural influences and sonic journeys. Our platform brings
        together artists who are pushing boundaries and redefining music as we
        know it. Get ready to explore a world of captivating melodies,
        infectious rhythms, and authentic voices that will transport you to new
        musical landscapes.
      </p>
    </article>
  </SectionInfo>
  <EntrySection
    sectionTitle="Hot artist of the moment"
    subtitle="This is what is vibing on the street"
  />
</DefaultLayout>
