---
import DefaultLayout from '../Layouts/DefaultLayout.astro';
import Cover from '../Components/Cover.astro';
import EntrySection from '../Components/EntrySection.astro';
import Entry from '../Components/Entry.astro';

import { getCollection, CollectionEntry } from 'astro:content';
import { formatBlogPosts } from '../js/utils';

const allArtist = await getCollection('artists');
const fomrmatArtist: CollectionEntry<'blog'>[] = formatBlogPosts(allArtist, {});
---

<DefaultLayout>
  <Cover coverText="music">
    <video autoplay muted playsinline class="cover__bg">
      <source src="/video/video-hero2.mp4" type="video/mp4" />
    </video>
  </Cover>
  <EntrySection sectionTitle="Hot artist of the moment" />
  <div class="test">
    {
      fomrmatArtist.map((post) => (
        <Entry
          url={post.slug}
          title={post.data.title}
          src={post.data.img.src}
          alt={post.data.img.alt}
        />
      ))
    }
  </div>
</DefaultLayout>

<style>
  .test {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(25em, 100%), 1fr));
    gap: 1rem;
  }
</style>
