---
import DefaultLayout from '../Layouts/DefaultLayout.astro';
import Cover from '../Components/Cover.astro';
// import EntrySection from '../Components/EntrySection.astro';
import Entry from '../Components/Entry.astro';
// import Sectioninfo from '../Components/SectionInfo.astro';
// import ArtistCard from '../Components/ArtistCard.astro';

// import { getCollection, CollectionEntry } from 'astro:content';
// import { formatBlogPosts } from '../js/utils';

// const allArtist = await getCollection('artists');
// const fomrmatArtist: CollectionEntry<'blog'>[] = formatBlogPosts(allArtist, {});
---

<DefaultLayout>
  <Cover coverText="music">
    <video paused muted playsinline loop class="cover__bg">
      <source
        src="/images/artist-images/young-miko/young-miko-video.mp4"
        type="video/mp4"
      />
    </video>
  </Cover>
  <section>
    <div>
      <h2>new hot artist</h2>
      <p>The top pick artist. Updated daily</p>
    </div>
    <div>
      <Entry />
    </div>
  </section>
</DefaultLayout>

<style></style>
