---
import DefaultLayout from '../Layouts/DefaultLayout.astro';
import Cover from '../Components/Cover.astro';
import EntrySection from '../Components/EntrySection.astro';
import Entry from '../Components/Entry.astro';
import Sectioninfo from '../Components/SectionInfo.astro';
import ArtistCard from '../Components/ArtistCard.astro';

import { getCollection, CollectionEntry } from 'astro:content';
import { formatBlogPosts } from '../js/utils';
import MusicPlayer from '../Components/MusicPlayer.astro';

const allArtist = await getCollection('artists');
const fomrmatArtist: CollectionEntry<'blog'>[] = formatBlogPosts(allArtist, {});
---

<DefaultLayout>
  <!-- <Cover coverText="music">
    <video autoplay muted playsinline class="cover__bg">
      <source src="/video/video-hero2.mp4" type="video/mp4" />
    </video>
  </Cover> -->
  <Sectioninfo>
    <div slot="images">
      <ArtistCard />
    </div>
    <div slot="text">
      <MusicPlayer />
    </div>
  </Sectioninfo>
  <!-- <h2></h2> -->
  <EntrySection sectionTitle="Hot artist of the moment" />
  <section class="section">
    <h2>Todos los artistas</h2>
    <div class="test">
      {
        fomrmatArtist.map((post) => (
          <Entry
            url={post.slug}
            title={post.data.title}
            src={post.data.img.src}
            alt={post.data.img.alt}
            aspectRatio="aspect-ratio"
          />
        ))
      }
    </div>
  </section>
</DefaultLayout>

<style>
  .test {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(10em, 100%), 1fr));
    gap: 0.725rem;
    margin-bottom: 10rem;
  }
</style>
