---
import DefaultLayout from "../Layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <h1 class="text-xl md:text-5xl font-black text-center">
    Privacy Policy for MusicGram <span class="text-base block"
      >Effective Date: 25-10-2023</span
    >
  </h1>

  <section class="p-4 w-full lg:w-[90ch] mx-auto grid gap-4">
    <h2 class="text-lg font-bold">1. Introduction</h2>
    <p class="text-base">
      Welcome to MusicGram. This Privacy Policy is designed to help you
      understand how we collect, use, disclose, and safeguard your personal
      information. By accessing or using our website, you consent to the
      practices described in this Privacy Policy.
    </p>
    <h2 class="text-lg font-bold">2. Information We Collect</h2>
    <p class="text-base">
      We may collect various types of information, including but not limited to:
      <ul class="flex flex-col gap-2 pl-4">
        <li>
          - <strong>Personal Information:</strong> Information that can be used to
          identify you, such as your name, email address, or phone number.
        </li>
        <li>
          - <strong>Non-Personal Information</strong>: Information that does not
          identify you personally, such as your IP address, browser type, and
          the pages you visit on our website.
        </li>
        <li>
          - <strong>Cookies</strong>: We use cookies to collect information
          about your online activities and preferences. You can manage your
          cookie preferences by adjusting your browser settings.
        </li>
      </ul>
    </p>
    <h2 class="text-lg font-bold">3. How We Use Your Information</h2>
    <p class="text-base">
      We may use your information for the following purposes: - To provide and
      maintain our website. - To personalize your experience on our website. -
      To communicate with you, respond to your inquiries, and provide customer
      support. - To send you promotional and marketing materials, if you have
      consented to such communications.
    </p>
    <h2 class="text-lg font-bold">4. Disclosure of Your Information</h2>
    <p class="text-base">
      We may share your information with third parties under the following
      circumstances: - With your consent. - With our service providers,
      contractors, or other third parties we use to support our website. - In
      response to a legal obligation or to protect our rights, privacy, safety,
      or property. - In connection with the sale, merger, or acquisition of all
      or part of our company.
    </p>
    <h2 class="text-lg font-bold">5. Your Rights</h2>
    <p class="text-base">
      You have the following rights regarding your personal information: -
      Access: You can request access to the personal information we hold about
      you. - Correction: You can request that we correct any inaccuracies in
      your personal information. - Deletion: You can request the deletion of
      your personal information. - Objection: You can object to the processing
      of your personal information.
    </p>
    <h2 class="text-lg font-bold">6. Security</h2>
    <p class="text-base">
      We take reasonable measures to protect your personal information from
      unauthorized access, disclosure, alteration, and destruction.
    </p>
    <h2 class="text-lg font-bold">7. Changes to This Privacy Policy</h2>

    <p class="text-base">
      We may update this Privacy Policy from time to time. Any changes will be
      effective when posted on our website.
    </p>
    <h2 class="text-lg font-bold">8. Contact Us</h2>
    <p class="text-base">
      If you have any questions, concerns, or requests related to this Privacy
      Policy, please contact us at musicgram13spain@gmail.com.
    </p>
  </section>
</DefaultLayout>
