.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 {
  font-size: 6rem;
}

.flex-col {
  display: flex;
}

.test {
  text-align: center;
  font-weight: bold;
}
