<section class="hero">
  <div class="hero_back" data-position="top"></div>
  <div class="hero_back" data-position="bottom"></div>
  <div class="hero_back" data-position="left"></div>
  <div class="hero_back" data-position="right"></div>
  <div class="px-8 py-12 md:px-12 mx-auto lg:pb-24 max-w-7xl lg:px-32 lg:pt-32">
    <div class="text-center">
      <h1
        class="text-6xl text-balance font-black text-[var(--clr-h-text)] md:text-7xl"
      >
        Influencers That Influence.
      </h1>
      <p class="text-xl font-bold text-[var(--clr-base-text)]">
        Don't quit social media. Make it worth it!
      </p>
    </div>
  </div>
</section>

<style>
  .hero {
    position: relative;
    isolation: isolate;
    margin-block: 8vh;
  }

  .hero_back {
    /* padding-inline: 8rem; */
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 50%;
    margin: auto;
    filter: blur(1.5rem);

    &[data-position="top"] {
      --size: 8.625em;
      transform: translateX(10px) translateY(-50px);
      background-color: hsla(180, 100%, 50%, 0.5);
      width: var(--size);
      height: var(--size);
    }
    &[data-position="bottom"] {
      --size: 7em;
      transform: translateX(-20px) translateY(80px);
      background-color: hsla(120, 70%, 86%, 0.8);
      width: var(--size);
      height: var(--size);
    }
    &[data-position="left"] {
      --size: 9.625em;
      transform: translateX(-150px) translateY(10px);
      background-color: hsla(0, 73%, 75%, 0.7);
      width: var(--size);
      height: var(--size);
    }
    &[data-position="right"] {
      --size: 7.625em;
      transform: translateX(90px) translateY(10px);
      background-color: hsl(284, 48%, 70%);
      width: var(--size);
      height: var(--size);
    }
  }
</style>
