@use "../util" as *;

.preloader {
  position: fixed;
  inset: 0;
  background-color: var(--White);
  display: grid;
  place-items: center;
  grid-template-areas: "loader";
  visibility: visible;
  z-index: 999;
  transition: all 2s ease-out;
  &__animation {
    grid-area: loader;
    z-index: 5;
    font-size: 4rem;
    color: var(--White);
    font-family: $specialFont;
  }
  &__image {
    object-fit: contain;
    object-position: bottom;
    grid-area: loader;
    @include breakpoint(medium) {
      aspect-ratio: 0;
    }
  }
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}
