<article class="myCard">
  <div class="innerCard">
    <div class="frontSide">
      <h3 class="title">Young Miko</h3>
      <p>Artist of the week</p>
    </div>
    <div class="backSide">
      <img src="/images/artist-images/young-miko/young-miko-1.webp" alt="" />
    </div>
  </div>
</article>

<style lang="scss">
  .myCard {
    background-color: transparent;
    width: 25em;
    max-width: 30em;
    aspect-ratio: 1;
    perspective: 1000px;
  }

  .title {
    font-size: clamp(2rem, calc(1.754rem + 2vw), 4rem);
    font-weight: 900;
    text-align: center;
    margin: 0;
  }

  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }

  @media (hover: hover) {
    .myCard:hover .innerCard {
      transform: rotateY(180deg);
    }
  }

  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    inset: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    // border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    // box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }

  .frontSide p {
    font-size: clamp(1.45rem, calc(1rem + 1.5vw), 3rem);
  }

  .frontSide,
  .frontSide::before {
    background: linear-gradient(
      43deg,
      rgb(72, 84, 137) 0%,
      rgb(38, 30, 99) 46%,
      hsl(252, 100%, 7%) 100%
    );
  }

  .backSide,
  .backSide::before {
    // background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  }

  .backSide {
    transform: rotateY(180deg);
  }

  .frontSide::before,
  .backSide::before {
    inset: 0;
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(5px);
    // animation: animate 5s linear infinite;
  }

  @keyframes animate {
    0% {
      opacity: 0.3;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0.3;
    }
  }
</style>
