---
const { title, src, alt, url } = Astro.props;
---

<article class="entries">
  <a href={`/artists/${url}/`}>
    <img loading="lazy" class="entries__bg" src={src} alt={alt} />
    <h3 class="entries__h3">{title}</h3>
  </a>
</article>

<style lang="scss">
  .entries {
    position: relative;
    overflow: hidden;
    flex-direction: column;
    border-radius: 1rem;

    &__bg {
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1;
      @media (min-width: 40em) {
        aspect-ratio: 4/2;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    &__h3 {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: clamp(2rem, 2.5vw, 3rem);
      color: hsl(0, 0%, 100%);
      background: linear-gradient(hsla(180, 14%, 99%, 0), hsla(0, 0%, 0%, 0.8));
      transition: all 0.23s ease-in-out;
    }
  }
</style>
