---
import Navigation from './Navigation.astro';
import Socials from './Socials.astro';
---

<footer class="header">
  <div class="header__logo">
    <a href="/" class="header__logo--letters">Home</a>
    <Socials />
  </div>
  <Navigation />
  <p class="header__p">
    Get ready to groove with the hottest beats, freshest talent, and coolest
    vibes! Your ultimate destination for the latest music, emerging artists, and
    juicy articles.
  </p>
  <!-- <button class="header__toggle"></button> -->
</footer>
