---
import Navigation from './Navigation.astro';
---

<header id="home" class="flex header gap-8 border-r-[1px] border-clr">
  <div class="header__logo p-4 border-b-[1px] border-clr">
    <a href="/" class="header__logo--letters">
      <img
        class="header__logo--image"
        src="/logos/music.png"
        alt="Logo de la pagina"
      />
    </a>
  </div>
  <Navigation />
  <p class="header__p border-t-[1px] border-clr p-4">
    <span class="text-sm"> Yefree Valdez</span>
    <small class="text-sm">copyright &copy; all right reserved</small>
  </p>
  <!-- <button class="header__toggle"></button> -->
</header>

<style lang="scss" is:global>
  @use '../assets/scss/util/' as *;

  .header {
    flex-direction: column;
    position: fixed;
    inset: 0 auto 0 0;
    background-color: var(--Dark-blue);
    z-index: 999;
    width: 13rem;
    // padding: 1rem;
    @media (width < 39.9em) {
      position: relative;
      width: 100%;
      // height: fit-content;
    }
    a {
      color: var(--Dark-moderate-cyan);
      border-radius: 0.5rem;
      font-size: clamp(0.8rem, calc(0.7rem + 1vw), 1.3rem);
      text-transform: uppercase;
      &:hover {
        background-color: var(--Dark-moderate-cyan);
        color: var(--Dark-blue);
        transform: scale(1.1, 1.1);
      }
    }

    &__logo,
    &__p {
      display: flex;
      flex-flow: column;
    }
    &__logo {
      display: flex;
      &--image {
        width: em(30);
        border-radius: 50%;
      }
      &--letters {
        font-size: 1.3rem;
      }
    }
  }

  .header__p {
    @media (max-width: 35em) {
      display: none;
    }
  }
</style>

<script></script>
