---
// import components
import Links from './Links.astro';
const navigationLinks = [
  {
    name: 'Discover',
    link: '/music/',
    icon: '/icons/playlist.svg',
  },
  {
    name: 'Support',
    link: '/',
    icon: '/icons/music-note-add.svg',
  },
  {
    name: 'About us',
    link: '/about/',
    icon: '/icons/group.svg',
  },
];
---

<nav id="nav" class="header__nav" aria-label="Navegation bar">
  {
    navigationLinks.map((link) => (
      <Links
        text={link.name}
        href={link.link}
        style="header__links"
        classes="flex gap-[5px] text-grey-200 p-[7px]"
        icon={{
          name: link.icon,
          side: 'left',
        }}
        hide="hide"
      />
    ))
  }
</nav>

<style lang="scss">
  @use '../assets/scss/util/' as *;

  .header {
    &__nav {
      flex-wrap: wrap;
      flex-basis: 15em;
      flex-grow: 1;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      @media (max-width: 40em) {
        position: fixed;
        inset: auto 0 0 0;
        padding: 1rem;
        height: 5rem;
        border-radius: 0.5rem 0.5rem 0 0;
        background-color: var(--Dark-blue);
        backdrop-filter: blur(0.5rem);
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
      }
    }
  }
</style>
