---
const navigationLinks = [
  {
    name: 'About us',
    link: '/about/',
  },
  {
    name: 'Source',
    link: '/',
  },
  {
    name: 'Support',
    link: '/',
  },
  {
    name: 'Discover',
    link: '/music/',
  },
];
---

<nav id="nav" class="header__nav" aria-label="Navegation bar">
  {
    navigationLinks.map((link) => (
      <a href={link.link} class="header__links">
        {link.name}
      </a>
    ))
  }
</nav>

<style lang="scss">
  @use '../assets/scss/util/' as *;

  .header {
    &__nav {
      flex-wrap: wrap;
    }
    &__links {
      flex: 1;
      font-size: 1.1rem;
    }
  }
  .show {
    transition: all 0.5s ease-in-out;
    transform: translateX(0);
  }

  .fixed-nav {
    display: flex;
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 100;
    backdrop-filter: blur(1em);
    background: linear-gradient(
      var(--Dark-moderate-cyan),
      rgba(224, 218, 218, 0)
    );
    color: var(--White);
  }
</style>

<script></script>
