---
const navigationLinks = [
  {
    name: 'Music',
    link: '/music/',
  },
  {
    name: 'Support',
    link: '/',
  },
  {
    name: 'About us',
    link: '/about/',
  },
  
];
---

<nav id="nav" class="header__nav" aria-label="Navegation bar">
  {
    navigationLinks.map((link) => (
      <a href={link.link} class="header__links">
        {link.name}
      </a>
    ))
  }
</nav>

<style lang="scss">
  @use '../assets/scss/util/' as *;

  .header {
    &__nav {
      flex-wrap: wrap;
      flex-basis: 15em;
      flex-grow: 1;
      justify-content: space-around;
      flex-direction: column;
      gap: 1rem;
      @media (max-width:40em){
        position: fixed;
        inset: auto 1rem 1rem 1rem;
        padding: 1rem;
        height: 5rem;
        border-radius: 1rem;
        background-color: hsla(240, 94%, 3%, 0.8);
        backdrop-filter: blur(1rem);
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
      }
    }
    &__links {
      // flex: 1;
    }
  }

  .active {
    color: var(--Very-dark-desaturated-blue);
  }
</style>

<script defer>
  const links = document.querySelectorAll(".header__links");

  links.forEach((link) => {
    if (link.href === window.location.href) {
      link.classList.add("active");
    }
  })
    // Check if the link href matches the current URL
    
</script>
