---
---

<section
  class="intro section"
  aria-label="Important information about the page"
>
  <div class="intro__text">
    <slot name="text" />
  </div>
  <div class="intro__images">
    <slot name="images" />
  </div>
</section>

<style lang="scss" is:global>
  .intro {
    gap: 1rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    isolation: isolate;

    &__images,
    &__text,
    &__article {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &__images {
      z-index: 999;
      background-color: var(--Dark-blue);
      flex-basis: 30em;
      flex-grow: 1;
      padding: 1rem;
      border-radius: 1rem;
    }
    img {
      object-fit: cover;
      object-position: center;
      border-radius: 1rem;
      aspect-ratio: 1;
      @media (width < 40em) {
        // display: none;
      }
    }
    &__text {
      justify-content: center;
      align-items: center;
      flex-basis: 20em;
      flex-grow: 1;
      position: sticky;
      top: 0;
      height: fit-content;
      padding: 2vh 2vw;
      overflow: hidden;
    }
    &__article {
      // padding-right: 3vw;
    }
  }
</style>
