---
interface Props {
  position?: boolean;
}

const { position = true } = Astro.props;
---

<section
  class="intro flex flex-wrap gap-4"
  aria-label="Important information about the page"
>
  {
    position && (
      <>
        <div class="intro__text flex flex-col basis-[20em] grow gap-4 justify-center">
          <slot name="text" />
        </div>
        <div class="intro__images flex flex-col basis-[20em] grow">
          <slot name="images" />
        </div>
      </>
    )
  }
  {
    !position && (
      <>
        <div class="intro__images flex flex-col basis-[20em] grow">
          <slot name="images" />
        </div>
        <div class="intro__text flex flex-col basis-[20em] grow p-8 gap-4 justify-center">
          <slot name="text" />
        </div>
      </>
    )
  }
</section>

<style lang="scss" is:global>
  .intro {
  }
</style>
