---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Lines from "@/components/ui/Lines.astro";
import VerticalFade from "@/components/ui/VerticalFade.astro";
---

<BaseLayout>
  <section class="isolate relative w-full py-12 lg:py-24 xl:py-32">
    <div
      class="px-4 md:px-12 mx-auto max-w-7xl py-12 lg:px-32 flex flex-col gap-8 md:gap-12 lg:gap-16"
    >
      <h1 class="text-center text-8xl font-bolder uppercase">404</h1>
    </div>
    <div class="absolute inset-0 mx-auto max-w-7xl -z-10">
      <Lines />
    </div>
    <VerticalFade side="bottom" height={"400px"} />
  </section>
</BaseLayout>
