---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div class="grid gap-4 px-4 md:px-12 mx-auto max-w-7xl py-12 lg:px-32">
      <h1 class="text-3xl mt-16 font-black">Privacy Policy</h1>
      <p>
        At Musicgram, we are committed to protecting the privacy of our users.
        This Privacy Policy explains how we collect, use, and disclose
        information when you access or use our blog site, which is designed to
        share information about influencers. By using our blog site, you consent
        to the collection, use, and disclosure of your information as described
        in this policy.
      </p>
      <h2 class="text-xl font-bold mb-4">Information We Collect</h2>
      <p>
        When you access or use our blog site, we may collect the following
        information:
      </p>
      <ul>
        <li>
          <p>
            <strong>Personal Information</strong>: We may collect personal
            information, such as your name, email address, and other contact
            information, when you voluntarily provide it to us, such as when you
            sign up for our newsletter or contact us with a question or comment.
          </p>
        </li>
        <li>
          <p>
            <strong>Usage Information</strong>: We may collect information about
            how you use our blog site, such as the pages you visit, the links
            you click on, and the time and duration of your visits.
          </p>
        </li>
        <li>
          <p>
            <strong>Device Information</strong>: We may collect information
            about the device you use to access our blog site, such as your IP
            address, device type, and operating system.
          </p>
        </li>
      </ul>
      <h2 class="text-xl font-bold mb-4">How We Use Your Information</h2>
      <p>We may use the information we collect for the following purposes:</p>
      <ul>
        <li>
          <p>
            <strong>To Provide and Improve Our Blog Site</strong>: We may use
            your information to operate and improve our blog site, such as to
            personalize your experience, analyze trends, and diagnose problems.
          </p>
        </li>
        <li>
          <p>
            <strong>To Communicate With You</strong>: We may use your email
            address to send you updates, newsletters, and other communications
            related to our blog site.
          </p>
        </li>
        <li>
          <p>
            <strong>To Comply With Legal Obligations</strong>: We may use your
            information to comply with applicable laws, regulations, and legal
            processes.
          </p>
        </li>
      </ul>
      <h2 class="text-xl font-bold mb-4">How We Share Your Information</h2>
      <p>
        We may share your information with third parties in the following
        circumstances:
      </p>
      <ul>
        <li>
          <p>
            <strong>Service Providers</strong>: We may share your information
            with service providers who perform services on our behalf, such as
            hosting providers, analytics providers, and email service providers.
          </p>
        </li>
        <li>
          <p>
            <strong>Business Transfers</strong>: We may share your information
            if we are involved in a merger, acquisition, or sale of all or a
            portion of our assets.
          </p>
        </li>
        <li>
          <p>
            <strong>Legal Purposes</strong>: We may share your information if we
            believe it is necessary to comply with applicable laws, regulations,
            or legal processes, or to respond to lawful requests from public
            authorities.
          </p>
        </li>
      </ul>
      <h2 class="text-xl font-bold mb-4">Data Retention</h2>
      <p>
        We will retain your information for as long as your account is active or
        as needed to provide you with services. We may also retain and use your
        information as necessary to comply with our legal obligations, resolve
        disputes, and enforce our agreements.
      </p>
      <h2 class="text-xl font-bold mb-4">Security</h2>
      <p>
        We take reasonable measures to protect the information we collect from
        loss, theft, misuse, and unauthorized access, disclosure, alteration,
        and destruction. However, no method of transmission over the internet,
        or method of electronic storage, is 100% secure. Therefore, we cannot
        guarantee its absolute security.
      </p>
      <h2 class="text-xl font-bold mb-4">Your Rights</h2>
      <p>
        You have certain rights with respect to your information, including the
        right to access, correct, or delete your information. You may also have
        the right to object to or restrict certain types of processing of your
        information. To exercise these rights, please contact us using the
        contact information below.
      </p>
      <h2 class="text-xl font-bold mb-4">Contact Us</h2>
      <p>
        If you have any questions or concerns about this Privacy Policy, please
        contact us at <a href="mailto:contact@blogsitename.com"
          >contact@blogsitename.com</a
        >.
      </p>
      <h2 class="text-xl font-bold mb-4">Changes to this Privacy Policy</h2>
      <p>
        We may update this Privacy Policy from time to time. If we make material
        changes to this policy, we will notify you by email or by posting a
        notice on our blog site prior to the effective date of the changes. We
        encourage you to review this policy periodically for any updates or
        changes.
      </p>
      <p><strong>Last Updated:</strong> 20 april, 2024.</p>
    </div>
  </section>
</BaseLayout>
