---
// Layout imports
import DefaultLayout from '../Layouts/DefaultLayout.astro';
// Components imports
import Cover from '../Components/Cover.astro';
import EntrySection from '../Components/EntrySection.astro';
import SectionInfo from '../Components/SectionInfo.astro';

import { getCollection, CollectionEntry } from 'astro:content';
import { formatBlogPosts } from '../js/utils';

const allArtist = await getCollection('artists');
const fomrmatArtist: CollectionEntry<'blog'>[] = formatBlogPosts(allArtist, {
  limit: 3,
});
---

<DefaultLayout subtitle="HOME">
  <Cover coverText="MUSIC.GRAM">
    <video autoplay muted playsinline class="cover__bg">
      <source src="/video/hero-video-cover.mp4" type="video/mp4" />
    </video>
  </Cover>
  <EntrySection sectionTitle="Hot artist of the moment" />
  <SectionInfo>
    {
      fomrmatArtist.map((artist) => (
        <img
          src={artist.data.img2.src}
          alt="Person listening to music"
          slot="images"
        />
      ))
    }
    <article class="intro__article" slot="text">
      <h2>Fresh Sounds Every Week!</h2>
      <p>
        Discover the next wave of musical talent with our weekly uploads. We
        pride ourselves on being a platform that champions relative unknown
        artists from diverse backgrounds and musical genres. From soulful
        crooners to experimental beatmakers, we curate an eclectic mix of sounds
        that will keep your playlists fresh and your ears yearning for more.
      </p>
    </article>
    <article class="intro__article" slot="text">
      <h2>Global Vibes, Local Talent</h2>
      <p>
        Music knows no boundaries, and neither do we. Our dedication to
        showcasing artists from every corner of the globe ensures a rich
        tapestry of cultural influences and sonic journeys. From the bustling
        streets of Tokyo to the vibrant neighborhoods of Rio de Janeiro, our
        platform brings together artists who are pushing boundaries and
        redefining music as we know it. Get ready to explore a world of
        captivating melodies, infectious rhythms, and authentic voices that will
        transport you to new musical landscapes.
      </p>
    </article>
  </SectionInfo>
</DefaultLayout>
