<section class="grid main">
  <h1 class="main__h1">SHE'S FIRE</h1>
  <video autoplay muted playsinline class="main__video">
    <source src="/video/video-hero.mp4" type="video/mp4" />
  </video>
</section>
