<section class="cover">
  <video paused muted playsinline class="cover__video">
    <source src="/video/video-hero.mp4" type="video/mp4" />
  </video>
  <h1 class="cover__h1">trickstar</h1>
</section>

<style lang="scss">
  @use '../assets/scss/util/' as *;

  .cover {
    position: relative;
    flex-direction: column;
    &__video {
      object-fit: cover;
      aspect-ratio: 16/6;
    }
    &__h1 {
      font-size: clamp(3rem, 10vw, 12rem);
      position: absolute;
      color: white;
      text-align: center;
      bottom: 0;
    }
    // &::before {
    //   content: '';
    //   position: absolute;
    //   inset: 0;
    // }
  }
</style>
