---
const { title, src, alt, url } = Astro.props;
---

<article class="entries">
  <a href={`/artists/${url}/`}>
    <img class="entries__bg" src={src} alt={alt} />
    <h3 class="entries__h3">{title}</h3>
  </a>
</article>

<style lang="scss">
  .entries {
    position: relative;
    flex-direction: column;

    &__bg {
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1;
      @media (min-width: 40em) {
        aspect-ratio: 4/2;
      }
    }
    &__h3 {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: clamp(1.8rem, 2.5vw, 2rem);
      color: hsl(0, 0%, 100%);
      background: linear-gradient(hsla(180, 14%, 99%, 0), hsla(0, 0%, 0%, 0.9));
    }
    // &::before {
    //   content: '';
    //   position: absolute;
    //   inset: 0;
    // }
  }
</style>
