---
import { getCollection, getEntryBySlug } from 'astro:content';
import Entry from './Entry.astro';

const artistsPost = await getCollection('artists', ({ data }) => {
  return !data.draft && data.date < new Date();
});

const artistCover = await getEntryBySlug('artists', 'artist-saint-levant');
---

<section class="post" aria-label="Recent Entries">
  <h2>new artist entries</h2>
  <div class="post__div">
    <!-- Entries goes in here -->
    {
      artistsPost.map((post) => (
        <Entry
          url={post.slug}
          title={post.data.title}
          src={post.data.img.src}
          alt={post.data.img.alt}
        />
      ))
    }
  </div>
</section>

<style lang="scss">
  .post {
    &__div {
      display: grid;
      grid-template-areas:
        'one'
        'two'
        'three'
        'four';
      @media (min-width: 40em) {
        grid-template-areas: 'one two three four';
      }
    }

    article:nth-child(1) {
      grid-area: one;
    }
    article:nth-child(2) {
      grid-area: two;
    }
    article:nth-child(3) {
      grid-area: three;
    }
    article:nth-child(4) {
      grid-area: four;
    }
  }
</style>
