<footer id="footer" class="flex-col footer">
  <h3 class="footer__h3">BB Trickz</h3>
  <div class="flex footer__bottom">
    <a href="" class="footer__socials">
      <img
        src="/icons/icon-facebook.svg"
        alt="Social media icons"
        class="footer__icons"
      />
    </a>
  </div>
  <div class="flex footer__copyright">
    <span class="footer__author">
      Coded by <a href="#">Yefree De Los Santos</a>
    </span>
    <span id="date" class="footer__date"></span>
  </div>
</footer>
