---
import Navigation from './Navigation.astro';
---

<header id="home" class="flex header">
  <div class="header__logo">
    <a href="/" class="header__logo--letters">Home</a>
    <img
      class="header__logo--image"
      src="/logos/music.png"
      alt="Logo de la pagina"
    />
  </div>
  <Navigation />
  <p class="header__p">
    Get ready to groove with the hottest beats, freshest talent, and coolest
    vibes! Your ultimate destination for the latest music, emerging artists, and
    juicy articles.
  </p>
  <!-- <button class="header__toggle"></button> -->
</header>

<style lang="scss" is:global>
  @use '../assets/scss/util/' as *;

  .header {
    padding: 0 1rem;
    font-weight: 400;
    flex-wrap: wrap;
    gap: 1.5rem;

    a {
      color: var(--Dark-moderate-cyan);
      &:hover {
        color: gray;
        transform: scale(1.1, 1.1);
      }
    }

    &__logo,
    &__nav,
    &__p {
      flex-basis: 15em;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      @media (min-width: 35em) {
        border-left: 1px solid var(--Dark-moderate-cyan);
        padding: 0.5rem 1rem;
        align-items: start;
        flex-direction: column;
      }
    }
    &__logo {
      display: flex;
      &--image {
        width: em(50);
        border-radius: 50%;
      }
      &--letters {
        font-size: 1.3rem;
      }
    }
    // &__toggle {
    //   width: rem(32);
    //   aspect-ratio: 1;
    //   background-image: url(/icons/icon-hamburger.svg);
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   background-color: transparent;
    //   background-size: contain;
    //   border: 1.5px solid transparent;

    //   cursor: pointer;
    //   @include breakpoint(medium) {
    //     display: none;
    //   }
    // }
  }

  .header__p {
    @media (max-width: 35em) {
      display: none;
    }
  }
</style>

<script>
  // const header = document.getElementById('home');

  // window.addEventListener('scroll', () => {
  //   const scrollHeight = window.pageYOffset;
  //   if (scrollHeight > 50) {
  //     header.classList.add('fixed-nav');
  //   } else {
  //     header.classList.remove('fixed-nav');
  //   }
  // });
</script>
