---
import Navigation from './Navigation.astro';
---

<header id="home" class="flex header">
  <div class="flex header__logo">
    <img
      class="header__logo--image"
      src="/logos/logo-page.png"
      alt="Logo de la pagina"
    />
    <span class="header__logo--letters">BB trickz</span>
  </div>
  <Navigation />
  <button class="header__toggle"></button>
</header>
