<nav id="nav" class="flex header__nav">
  <a href="#about" class="header__links">About</a><a
    href="#music"
    class="header__links">Music</a
  ><a
    href="https://soundcloud.com/bbtrickz"
    class="header__links"
    target="_blank">SoundCloud</a
  ><a href="#footer" class="header__links header__links--btn">CONTACT</a>
</nav>
