---
const { coverText } = Astro.props;
---

<section class="cover">
  <slot />
  <h1 class="cover__h1">{coverText}</h1>
</section>

<style lang="scss" is:global>
  @use '../assets/scss/util/' as *;

  .cover {
    position: relative;
    flex-direction: column;
    // margin-bottom: 10vh;
    &__bg {
      object-fit: cover;
      aspect-ratio: 1;
      @media (min-width: 40em) {
        aspect-ratio: 16/6.3;
      }
    }
    &__h1 {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: clamp(3rem, 10vw, 12rem);
      color: hsl(0, 0%, 100%);
      background: linear-gradient(
        hsla(180, 14%, 99%, 0),
        hsla(206, 16%, 17%, 0.7)
      );
    }
    // &::before {
    //   content: '';
    //   position: absolute;
    //   inset: 0;
    // }
  }
</style>
