---
import Navigation from './Navigation.astro';
---

<footer class="header">
  <div class="header__logo">
    <a href="/" class="header__logo--letters">Home</a>
    <img
      class="header__logo--image"
      src="/logos/music.png"
      alt="Logo de la pagina"
    />
  </div>
  <Navigation />
  <p class="header__p">
    Get ready to groove with the hottest beats, freshest talent, and coolest
    vibes! Your ultimate destination for the latest music, emerging artists, and
    juicy articles.
  </p>
  <!-- <button class="header__toggle"></button> -->
</footer>
