@use '../util' as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;

    body * {
      animation-duration: 0s !important;
      animation-delay: 0s !important;
    }
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;

  // outline: 0.5px solid grey;
}

embed,
iframe,
img,
object,
svg,
video {
  display: block;
  width: 100%;
}

a,
:active {
  text-decoration: none;
  color: var(--Dark-moderate-cyan);
}

h1 {
  font-size: clamp(4rem, 12vw, 12rem);
}

h2 {
  font-size: clamp(2rem, 3vw, 5rem);
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  color: var(--Dark-moderate-cyan);
}

p,
span {
  font-size: rem(18);
  line-height: 1.5;
}

p {
  font-size: clamp(1rem, 2vw, 1.3rem);
}

button {
  background: transparent;
  border: 0.5px solid transparent;
  text-transform: capitalize;
  cursor: pointer;
}
