:root {
  --White: hsl(0, 0%, 100%);
  --clr-brd: hsl(280, 90%, 89%, 0.7);
  --Dark-blue: hsl(200, 75%, 2%);
  --Dark-moderate-cyan: hsl(168, 25%, 94%);
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-brd: hsla(280, 90%, 22%, 0.7);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(200, 75%, 98%);
    --Dark-moderate-cyan: hsl(168, 25%, 4%);
  }
}

.border-clr {
  border-color: var(--clr-brd);
}
