---
import { MobileMenu } from "@/components/global/MobileMenu";
// import Themetoggle from "./Themetoggle.astro";
---

<header class="header">
  <div class="p-4 mx-auto max-w-8xl text-base">
    <div
      class="border-shadow relative md:bg-[var(--clr-card-bgk)] flex flex-col w-fit py-2 px-4 ml-auto rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row"
    >
      <div class="flex flex-row items-center justify-between md:justify-start">
        <MobileMenu client:load />
      </div>
      <nav
        class="flex-col items-center flex-grow hidden md:flex md:items-end justify-center md:flex-row"
      >
        <ul
          class="space-y-2 list-none md:space-y-0 md:ml-auto items-center md:inline-flex justify-center text-center md:text-left gap-3"
        >
          <li>
            <a
              href="/"
              class="text-base text-[var(--clr-base-text)] hover:text-[var(--clr-hover-link)]"
            >
              Home
            </a>
          </li>
          <li>
            <a
              href="/about"
              class="text-base text-[var(--clr-base-text)] hover:text-[var(--clr-hover-link)]"
            >
              About
            </a>
          </li>
          <li>
            <a
              href="/404"
              class="text-base text-[var(--clr-base-text)] hover:text-[var(--clr-hover-link)]"
            >
              Support
            </a>
          </li>
          <li>
            <a
              href="https://github.com/michael-andreuzza/microblog"
              class="py-1.5 px-4 h-8 rounded-full bg-[var(--clr-accent)] text-white duration-200 flex items-center justify-center gap-1"
            >
              <svg
                width="18px"
                height="18px"
                stroke-width="1.2"
                viewBox="0 0 24 24"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                color="currenColor"
              >
                <path
                  d="M16 22.0268V19.1568C16.0375 18.68 15.9731 18.2006 15.811 17.7506C15.6489 17.3006 15.3929 16.8902 15.06 16.5468C18.2 16.1968 21.5 15.0068 21.5 9.54679C21.4997 8.15062 20.9627 6.80799 20 5.79679C20.4558 4.5753 20.4236 3.22514 19.91 2.02679C19.91 2.02679 18.73 1.67679 16 3.50679C13.708 2.88561 11.292 2.88561 8.99999 3.50679C6.26999 1.67679 5.08999 2.02679 5.08999 2.02679C4.57636 3.22514 4.54413 4.5753 4.99999 5.79679C4.03011 6.81549 3.49251 8.17026 3.49999 9.57679C3.49999 14.9968 6.79998 16.1868 9.93998 16.5768C9.61098 16.9168 9.35725 17.3222 9.19529 17.7667C9.03334 18.2112 8.96679 18.6849 8.99999 19.1568V22.0268"
                  stroke="currenColor"
                  stroke-width="1.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M9 20.0267C6 20.9999 3.5 20.0267 2 17.0267"
                  stroke="currenColor"
                  stroke-width="1.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              GitHub
            </a>
          </li>
          <li>
            <a
              href="#top"
              class="flex items-center p-2 bg-[var(--clr-tags)] rounded-full hover:bg-[var(--clr-tags-hover)]"
            >
              <img src={`/images/icons/arrow-icon.svg`} alt="" />
            </a>
          </li>
        </ul>
        <!-- <Themetoggle /> -->
      </nav>
    </div>
  </div>
</header>

<style>
  .header {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 9999;
  }

  @media (width > 48em) {
    .border-shadow {
      box-shadow: 0 0 2px var(--clr-border-shadow);
    }
  }
</style>
